<%- include ("partials/header") %>
<div class="mt-5 container">
    <p class="display-6"> All Interviews </p>
    <hr class="my-3" style="border: 1px solid black;" >
    <% if(interviews.length == 0){ %>
        <div class="d-flex">
            <img src="/images/empty.svg" id="svgEmpty" alt="logo"/>
        </div>
    <% }else{ %>
        <table class="table table-primary table-striped table-bordered">
            <thead>
                <th scope="col">Candidate Name</th>
                <th scope="col">Interviewer Name</th>
                <th scope="col">Start Time</th>
                <th scope="col">More Information</th>
            </thead>
            <tbody>
                <% interviews.forEach((interview)=>{ %>
                    <tr>
                        <td><%=interview.candidateID.name %></td>
                        <td><%=interview.interviewerID.name %></td>
                        <% const d = moment(interview.Date).format('LL') %>
                        <td><%= d + ' ' + interview.startTime %></td>
                        <td>
                            <a class="btn btn-outline-primary btn-sm" href="/interview/<%= interview._id%>">More Details</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } %>
    
</div>
<%- include ("partials/footer") %>